@import './var.styl'
header
  width 100%
  padding 0 30px
  background-color color-header
  overflow hidden
  .head-info
    float left
    width 500px
    height header-height
    line-height header-height
    img
      width 120px
      height 28px
      vertical-align middle
    .search
      width 100px
  .nav
    float right
    height 100%